{% extends "bootstrap/base.html" %}
{% block title %}サンプル／ありた{% endblock %}
{% block content %}
<div class="container">
    <div class="container" style="padding-top:70px;">
        <div class="page-header">
            <h1>効果測定</h1>
        </div>
        <p></p>
        <p>メニュー画面です。</p>
    </div>
    
    <div class="container">
        <div class="jumbotron">
            <h1>翻訳</h1>
            <p>AWSのTranslateサービスを利用した翻訳機能を呼び出します</p>
            <p><a class="btn btn-primary btn-lg" href="/trans/" role="button">翻訳へ</a></p>
        </div>
    </div>
</div>

{% endblock %}
